<% provide(:title,'Sign Up')%>

<h1>Sign Up Here!</h1>

<div id= "form" class= "row">
	<div class= "small-6 small-centered columns">
		<%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
			<%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Sign Up", class: "button small-centered columns", id: "submitButton" %>
    <% end %>
  </div>
</div>
