/ This is our website's LAYOUT

!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!

%html{:lang => "en"}
  / <![endif]

  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "custom"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

    %link{:href => "http://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed:400,400italic,700,700italic,300,300italic|Arimo:400,400italic,700,700italic|Francois+One|Cabin:400,400italic,500,500italic,600,600italic,700italic,700|Cuprum:400,400italic,700,700italic|Montserrat:400,700|Abel|Ubuntu+Condensed' rel='stylesheet' type='text/css"}


  / |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||


  %body
    = render 'layouts/nav'
    = yield
    = javascript_include_tag "application"
    = debug(params) if Rails.env.development?